.cadre{
    text-align: center;
    border: solid;
    background-color: coral;
    margin-top: 100px;
    width: 500px;
    /* margin-left: 500px;
    margin-bottom: -300px; */
    .label{
        display: block; 
        margin-right: 20px;
        margin-bottom: 10px; 
        text-align: left;
        width: 100%; 
    }
    .input {
        width: 450px;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    .form-group{
        display: flex;
        flex-direction: row; 
        align-items: center; 
        margin-bottom: 15px;
    }
    .soumettre{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -400px;
}
  